<div class="container">

    <h1>Create a new {{type}}</h1>
    <br/><br/>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="createForm">
                <intouch-editor ng-repeat="property in properties" property-info="property" />
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" ng-click="save()" ng-disabled="!createForm.$valid">Save</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{model | json}}
        </div>
    </div>
    
</div>
