<div class="container">
    <div class="row">
        <div class="col-md-3">
            <abn-tree tree-data="structure" on-select="treehandler(branch)"></abn-tree>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-1">
                    <a href="" ng-click="previousWeek()" style="padding-top:10px">Prev Week</a>
                </div>
                <div class="col-md-10">
                    <table class="table">
                        <thead>
                        <th>{{startDate | date:'dd-MMM'}}<br />Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>{{endDate | date:'dd-MMM'}}<br />Friday</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td ng-repeat="attendance in attendanceSummaries">
                                    <a href="" ng-click="selectDetail(attendance)" ng-show="attendance.Present > 0 || attendance.Absent > 0">
                                        <p class="text-success" ng-show="attendance.Present > 0">{{attendance.Present}} Present</p>
                                        <p class="text-danger" ng-show="attendance.Absent > 0">{{attendance.Absent}} Absent</p>
                                    </a>
                                    <a href="#/attendance/capture/{{selectedGroup.Id}}" ng-show="$parent.isToday(attendance.Date)">Capture</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-1">
                    <a href="" ng-click="nextWeek()" style="padding-top:10px">Next Week</a>
                </div>
            </div>
            <div class="row" ng-show="attendanceCaptured && detailSelected">
                <h2>Captured by {{capturedBy}} - {{captureTime | date:'medium'}}</h2>

                <table class="table">
                    <thead>
                    <th>Present/Absent</th>
                    <th>Student</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="member in members">
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" ng-model="member.status" btn-radio="'present'" ng-class="member.status === 'present' ? 'btn-success' : 'btn-default'" ng-disabled="attendanceCaptured"><i class="glyphicon glyphicon-ok"></i></button>
                                    <button type="button" class="btn btn-default" ng-model="member.status" btn-radio="'absent'" ng-class="member.status === 'absent' ? 'btn-danger' : 'btn-default'" ng-disabled="attendanceCaptured"><i class="glyphicon glyphicon-remove"></i></button>
                                </div>
                            </td>
                            <td>{{member.Name}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="row" ng-show="!attendanceCaptured && detailSelected">
                <h2>Not yet captured - <a href="#/attendance/capture/{{selectedGroup.Id}}">Click here to capture</a></h2>
            </div>
        </div>
    </div>
</div>
